<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <button (click)="openModal()" type="button" class="btn btn-secondary float-right"> <i class="fas fa-plus"></i> Add Timesheets</button>
          <h4 class="card-title">Time Table</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Sun
                </th>
                <th>
                  Mon
                </th>
                <th>
                  Tue
                </th>
                <th>
                  Wed
                </th>
                <th>
                  Thu
                </th>
                <th>
                  Fri
                </th>
                <th>
                  Sat
                </th>
                <th>
                  Action
                </th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    8
                  </td>
                  <td>
                    7.25
                  </td>
                  <td>
                    7.50
                  </td>
                  <td>
                    8.25
                  </td>
                  <td>
                    8.50
                  </td>
                  <td>
                    8.75
                  </td>
                  <td>
                    8
                  </td>
                  <td>
                      <button type="button" class="btn btn-success">Submit
                        </button>
                        &nbsp;
                         <button type="button" class="btn btn-dark">Edit
                         </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    8
                  </td>
                  <td>
                    7.85
                  </td>
                  <td>
                    8
                  </td>
                  <td>
                    7.50
                  </td>
                  <td>
                    8.50
                  </td>
                  <td>
                    8.25
                  </td>
                  <td>
                    8
                  </td>
                  <td>
                      <button type="button" class="btn btn-success">Submit
                        </button>
                        &nbsp;
                         <button type="button" class="btn btn-dark">Edit
                         </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    8.30
                  </td>
                  <td>
                    8.35
                  </td>
                  <td>
                    8
                  </td>
                  <td>
                    7
                  </td>
                  <td>
                    8.60
                  </td>
                  <td>
                    8.45
                  </td>
                  <td>
                    7.50
                  </td>
                  <td>
                      <button type="button" class="btn btn-success">Submit
                        </button>
                        &nbsp;
                         <button type="button" class="btn btn-dark">Edit
                         </button>
                         </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
